############################################################
# Product Project                                          #
############################################################
Geopelia/bin/
Geopelia/obj/
Geopelia/Models/TwitterConst.cs

############################################################
# Test Project                                             #
############################################################
GeopeliaTest/bin/
GeopeliaTest/obj/
